################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChalkboardBG/obj
/ChalkboardBG/Dependencies
/ChalkboardBG/Build
